<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Daily UX Challenge #17: Keyboard Layout</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body class="flexcontainer noselect">
  <input id="display" type="text"></input>
  <div id="board" class="flexcontainer keyboard">
    <div class="flexcontainer row">
      <div>Q</div>
      <div>W</div>
      <div>E</div>
      <div>R</div>
      <div>T</div>
      <div>Y</div>
      <div>U</div>
      <div>I</div>
      <div>O</div>
      <div>P</div>
      <div>[</div>
      <div>]</div>
    </div>
    <div class="flexcontainer row">
      <div>A</div>
      <div>S</div>
      <div>D</div>
      <div>F</div>
      <div>G</div>
      <div>H</div>
      <div>J</div>
      <div>K</div>
      <div>L</div>
      <div>;</div>
      <div>'</div>
    </div>
    <div class="flexcontainer row">
      <div>Z</div>
      <div>X</div>
      <div>C</div>
      <div>V</div>
      <div>B</div>
      <div>N</div>
      <div>M</div>
      <div>,</div>
      <div>.</div>
      <div>/</div>
    </div>
    <div class="flexcontainer row">
      <div id="spacebar"> </div>
    </div>
  </div>
</body>
<script src="main.js"></script>
