html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 4rem;
  margin: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-weight: 300;
}

h2 {
  position: absolute;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 17px;
  opacity: 0.8;
  bottom: 0px;
  display: none;
}

body {
  background-color: #7587e3;
  overflow: hidden;
  z-index: 0;
	font-size: 40px;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.keyboard {
  background-color: rgb(227, 227, 227);
  width: 1000px;
  min-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0px 0px 40px 40px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
  box-sizing: border-box;
}

.row {
  width: 100%;
}

.row div {
  font-size: 40px;
  background-color: #222;
  color: #fff;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  margin: 5px;
  line-height: 45px;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  cursor: pointer;
}

.row div:active {
  box-shadow: none;
  margin: 6px 4px 4px 6px;
}

#spacebar {
  width: 400px;
}

input {
  width: 50%;
  font-size: 50px;
  padding: 10px;
  box-sizing: border-box;
}
